Source: qpid-cpp
Section: misc
Priority: extra
Maintainer: Cajus Pollmeier <cajus@debian.org>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, autoconf (>= 2.61), automake (>= 1.9.6), libtool (>= 1.5.22), libboost-all-dev (>= 1.35), ruby (>= 1.8.4), ruby-dev, libperl-dev, uuid-dev, libopenais-dev (>= 0.80.3), libsasl2-dev, libxqilla-dev (>= 2.0.0), libxmltooling5, libibverbs-dev, librdmacm-dev, libnspr4-dev, libnss3-dev, libssl-dev, sasl2-bin, libcorosync-dev, libxerces-c-dev (>= 2.7.0), libcman-dev, swig (>= 1.3.35), python (>= 2.6.6-3~), doxygen, help2man, valgrind [any-i386 any-amd64 arm], zip, procps
X-Python-Version: 2.7
Standards-Version: 3.9.2
Homepage: http://qpid.apache.org

Package: qpidd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, libsasl2-modules, sasl2-bin
Replaces: qpid-broker
Conflicts: qpid-broker
Description: Enterprise messaging system - AMQP broker
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the AMQP broker.

Package: qpid-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enterprise messaging system - AMQP client
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the AMQP client support.

Package: libqmf1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enterprise messaging system - QMF libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the Qpid Management Framework libraries.

Package: libqmf-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}
Description: Enterprise messaging system - QMF development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the Qpid Management Framework development files.

Package: libqmf2-1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enterprise messaging system - QMF2 libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the QMF2 libraries.

Package: libqmf2-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}
Description: Enterprise messaging system - QMF2 development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the QMF2 development files.

Package: libqmfconsole2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enterprise messaging system - QMF console library
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the QMF console.

Package: libqmfconsole2-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}
Description: Enterprise messaging system - QMF console development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the QMF console development files.

Package: libqpidmessaging2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enterprise messaging system - AMQP messaging libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the AMQP messaging libraries.

Package: libqpidmessaging2-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}
Description: Enterprise messaging system - AMQP messaging development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the AMQP messaging development files.

Package: libsslcommon2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enterprise messaging system - common SSL libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the AMQP SSL libraries.

Package: libsslcommon2-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}
Description: Enterprise messaging system - common SSL development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the AMQP SSL development files.

Package: librdmawrap2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enterprise messaging system - RDMA libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the AMQP Remote Direct Memory Access libraries.

Package: librdmawrap2-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}
Description: Enterprise messaging system - RDMA development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the AMQP Remote Direct Memory Access development files.

Package: libqpidtypes1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enterprise messaging system - API libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the AMQP libraries.

Package: libqpidtypes1-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}
Description: Enterprise messaging system - API development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the AMQP development files.

Package: libqpidcommon2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enterprise messaging system - common libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the common AMQP libraries.

Package: libqpidcommon2-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}
Description: Enterprise messaging system - common development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the common AMQP development files.

Package: libqpidclient2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enterprise messaging system - client libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the AMQP client libraries.

Package: libqpidclient2-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}
Description: Enterprise messaging system - client development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the AMQP client development files.

Package: libqpidbroker2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enterprise messaging system - broker libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the AMQP broker libraries.

Package: libqpidbroker2-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}
Description: Enterprise messaging system - broker development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the AMQP broker development files.

Package: libqmfengine1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enterprise messaging system - QMF engine libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the QMF engine libraries.

Package: libqmfengine1-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}
Description: Enterprise messaging system - QMF engine development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the QMF engine development files.

Package: python-cqpid
Architecture: any
Section: python
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: Apache Qpid Python cqpid bindings
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the Python cqpid bindings.

Package: python-qmf2
Architecture: any
Section: python
Depends: ${python:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: Apache Qpid Python qmf2 bindings
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the Python QMF2 bindings.

Package: python-cqmf2
Architecture: any
Section: python
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: Apache Qpid Python cqmf2 bindings
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the Python QMF2 bindings.

Package: python-qmf
Architecture: any
Section: python
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: Apache Qpid Python qmf module
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the Apache Qpid Python QMF bindings.

Package: qpid-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: Apache Qpid documentation and examples
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the Apache Qpid documentation.

Package: libqpid-ruby1.8
Architecture: any
Section: ruby
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Apache Qpid Ruby bindings
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package contains the Apache Qpid Ruby bindings.

#Package: libqpid-perl
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Section: perl
#Description: Apache Qpid Perl bindings
# Apache Qpid is a cross-platform enterprise messaging system which implements
# the Advanced Message Queuing Protocol (AMQP), providing message brokers
# written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
# and Ruby.
# .
# This package contains the Apache Qpid Perl bindings.
